@font-face {
  font-family:GROBOLD;
  src: url(text.ttf);
}
body{
	width: 100%;
	height: 100vh;
	background: rgba(73,155,234,1);
	background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(43,51,102,1) 100%);
	overflow: hidden;
background-image: url("../media/images/dicebg.jpg");
background-size: cover;
background-color: #cccccc;
}


html,
body {
	width: 100%;
	height: 100%;
}
.sound-btn{
  position: fixed;
  display: inline-block;
}


.heading{

    text-align: center;
    margin-top: 5%;
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
.heading {
  padding: 30px;
}

@media screen and (min-width: 601px) {
 .heading {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 50px;
  }
}


.options{
	text-align: center;
	margin-top: 15px;
}
.index-button {
  padding: 10px 25px;
  margin: 10px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:teal;
  width: 80%;
  border-radius: 40px;
  box-shadow: 0 9px #999;
  width: 70;
}

.index-button:hover {background-color: blue;position:relative; top:2px}

.index-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px blue;
  transform: translateY(4px);
}

.index-button span {
  cursor: pointer;
  display: inline-block;
  /*font-weight: bold;*/
  position: relative;
  transition: 0.5s;
  font-family: GROBOLD;
}

.index-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.index-button:hover span {
  padding-right: 25px;
}

.index-button:hover span:after {
  opacity: 1;
  right: 0;
}
.modal-content {
  position: relative;
  background: url("http://giphygifs.s3.amazonaws.com/media/Ro7ibodq8Fr5C/giphy.gif");
  background-clip: padding-box;
  background-size: cover;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  background-color: #000;
}
.modal-title{
  color: blue;
  font-size: 30px;
  text-align: center;
}
.modal.fade{
  opacity:1;
}
.modal.fade .modal-dialog {
   -webkit-transform: translate(0);
   -moz-transform: translate(0);
   transform: translate(0);

}
.modal-body{
  color:gold;
  font-family: cursive;
}
.modal-body-left{
	height: 300px;
	width: 60%;
	/*background: black;*/
  float: left;
  border-radius: 40px;
}

.modal-body-right{
	height: auto;
	width: 40%;
	background: whitesmoke;
	float: right;
	overflow: hidden;
}
.modal-body-right img{
	max-height: 300px;
	margin: auto;
	overflow: hidden;
}

.game-over{
  color:gold;
  font-family: cursive;
  display: none;
  position: fixed;
}
.profile-name{
	font-family: GROBOLD;
	color:blue;
	font-size: 2em;
	margin: 2%;
	background: black;
	width: 90%;
	text-align: center;
}

.profile1{color: yellow; border-radius: 40px;}
.profile2{color: blue; border-radius: 40px;}
.profile3{color: red;border-radius: 40px;}

@media only screen and (orientation:landscape){
  #turn{ display:none; }
  #game-container{ display:block; }
}
@media only screen and (orientation:portrait){
	#turn{display:block;background-color: #000;height:100%;width:100%;margin-top:-2em;}
	#game-container{ display:none;}

}